.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 769px) {
  .container {
    width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* @media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
} */

@media screen and (min-width: 769px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
